<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mobileprojectestimator.mobileprojectestimator"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ProjectOverviewActivity"
            android:label="@string/title_activity_projects_overview"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ProjectSearchResultsActivity"/>
        </activity>
        <activity
            android:name=".Activities.GuidedProjectCreationActivity"
            android:label="@string/title_activity_guided_project_creation"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.FunctionPointProjectActivtiy"
            android:label="@string/title_activity_function_point_project_activtiy"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.FunctionPointEstimationValueActivity"
            android:label="Estimation Value"
            android:parentActivityName=".Activities.FunctionPointProjectActivtiy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.FunctionPointProjectActivtiy"/>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.HelpActivity"
            android:label="@string/title_activity_help_and_feedback"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.ExportProjectActivity"
            android:label="@string/title_activity_export_project"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.InfluenceFactorsActivity"
            android:label="@string/title_activity_influence_factors"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.CreateNewInfluenceFactorActivity"
            android:label="@string/title_activity_create_new_influence_factor"
            android:parentActivityName=".Activities.InfluenceFactorsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.InfluenceFactorsActivity"/>
        </activity>
        <activity
            android:name=".Activities.ChooseProjectIconActivity"
            android:label="@string/title_activity_choose_project_icon"
            android:parentActivityName=".Activities.GuidedProjectCreationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.GuidedProjectCreationActivity"/>
        </activity>
        <activity
            android:name=".Activities.ProjectInformationActivity"
            android:label="@string/title_activity_project_information"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HelpArticleActivity"
            android:label="@string/title_activity_help_and_feedback"
            android:parentActivityName=".Activities.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HelpActivity"/>
        </activity>
        <activity
            android:name=".Activities.AnalysisActivity"
            android:label="@string/title_activity_analysis"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
        <activity
            android:name=".Activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".Activities.AnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AnalysisActivity"/>
        </activity>
        <activity
            android:name=".Activities.ProjectSearchResultsActivity"
            android:label="@string/title_activity_project_search_results"
            android:parentActivityName=".Activities.ProjectOverviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProjectOverviewActivity"/>
        </activity>
    </application>

</manifest>
